# Excluded to make the git repo smaller (those are present in SVN)
binaries/system/

*.DS_Store

# Build files
*.so
*.so.*
*.a

build/

# Exclude test .cpp files (generated during the build)
test_*.cpp
source/ps/tests/stub_impl_hack.cpp

# Build files (tools)
*.pyc
*.pyo
__pycache__/

# Build files (libs)
*.o
*.lo
*.la
libraries/

# Source files since this is supposed to be a mod
source/