# Excluded files to avoid tons of unstaged files and since we don’t care about those in this branch.

*.DS_Store

# Build files
*.so
*.so.*
*.a
binaries/system/

build
# Exclude test .cpp files (generated during the build)
test_*.cpp
source/ps/tests/stub_impl_hack.cpp

# Build files (tools)
*.pyc
*.pyo
__pycache__/

# Build files (libs)
*.o
*.lo
*.la
libraries/